.Tree {
  text-align: left;
}

ul {
  padding-left: 5px;
}

.Tree-Trunk {
  list-style: none;
  display: table-cell;
  vertical-align: top;
}

.Tree-Branch {
  list-style: none;
  display: table-cell;

}
/*
.Tree-Connector {
position: center;
width: 30px;
height: 30px;
margin-top: 15px;
margin-left: 0px;
border-left: 0px solid #5bc0de;
border-top: 3px solid #5bc0de;
vertical-align: middle;
border-right: 8px solid #5bc0de;
box-sizing: border-box;
}*/