

.GlobalMenuModal {
    position: fixed;
    min-width:120px;
    width:auto;
    height:auto;
    background-color: aliceblue;
    z-index: 1;
    border-radius:10px;
}
.GlobalMenuModal-title {
    margin: 10px;
    padding-left: 0px;
    color:green;
}

.GlobalMenuModal-Item {
    margin: 10px;
    padding-left: 20px;
    color:green;
}

.GlobalMenuModal-Command {
    display:none;
}
.GlobalMenuModal-Command-Label{
    float: left;
    margin:0px;
    padding:0px;
    font-size: large;
    color: aliceblue;
    border:none;
    border-color: white;
    border-width:1px;
}
