

.GlobalMenu {
    position: absolute;
    width:120px;
    height:auto;
    background-color: aliceblue;
    z-index: 1;
    border-radius:10px;
}


.GlobalMenu-Command {
    display:none;
}
.GlobalMenu-Command-Label{
    float: left;
    margin:0px;
    padding:0px;
    font-size: large;
    color: aliceblue;
    border:none;
    border-color: white;
    border-width:1px;
}
