

.header-row{
  position:fixed;
  height:auto;
  top:0px;
  width: 100%;
  background-color: darkgreen;
  z-index: 10;
}

.header-items{
  display: table-cell;
  height:20px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left:10px;
  padding-right:20px;
  vertical-align: middle;
  color: aliceblue;
}

.header-logo{
  height:20px;
  vertical-align: middle;
}
.header-margin{
  height:20px;
  }