
.ImageMenu {
    width: 30px;
}


.ImageMenu-Item {
    vertical-align: top;
    visibility: hidden;
}


.ImageMenu-Item {
    vertical-align: top;
    visibility: hidden;
}

.ImageMenu-Canvas{
    display: none;
}


.ImageMenu-Img {
    width:30px;
}
