.Leaf {
  text-align: left;
  padding: 10px;
  background-color: palegreen;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left:0px;
  margin-right:0px;
  border-radius:10px;
  resize: both;
}

.Leaf-TextArea {
  text-align: left;
  background-color: palegreen;
  border: none;
  height: 30px;
  margin: 1px;
  padding: 0px;
  width: 180px;
  vertical-align: middle;
  color: darkgreen;
}

.Leaf-Colomuns{
  display: table-cell;
  vertical-align: middle;
}

.Leaf-AddFile {
  display:none;
}
.Leaf-AddFile-Label{
  margin:0px;
  padding:0px;
  font-size: x-large;
  color: darkgreen;
  border:none;
  border-color: aliceblue;
  border-width:1px;
}
