

.Leaf-Row{
  position: static;
  display: table-row;
  vertical-align: middle;
}

.Leaf-Columns{
  position: static;
  display: table-cell;
  margin:0px;
  vertical-align: top;
}

.Leaf-Command {
  display:none;
}
.Leaf-Command-Label{
  margin:0px;
  padding:0px;
  font-size: small;
  color: green;
  border:none;
  border-color: whitesmoke;
  border-width:1px;
}
