.Leaf {
  text-align: left;
  padding: 10px;
  background-color: #CCFF99;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left:0px;
  margin-right:0px;
  border-radius:10px;

}

.Leaf-TextArea {
  text-align: left;
  background-color: #CCFF99;
  border: none;
  height: 90px;
  margin: 1px;
  padding: 0px;
  width: 180px;
}
