
.Menu {
    position: relative;
}

.Menu-Command {
    display:none;
}


.Menu-Command-Burger{
    float: left;
    margin:0px;
    padding:0px;
    font-size: small;
    color: darkgray;
    border:none;
    border-color: whitesmoke;
    border-width:1px;
}
