
ul {
  padding-left: 0px;
}

.Tree {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 0px;
}


.Tree-Block-Menu {
  display: block;
  margin-top: 5px;
  vertical-align: top;
  /*position: fixed;*/
  margin-right: 0px;
  z-index: 10;

}
.Tree-Block-Main {
  display:block;
  width: fit-content;
  margin-top: 4px;
  vertical-align: top;
  margin-left: 5px;
}


.Tree-Element {
  display: table ;
  list-style: none;
}


.Tree-Trunk {
  position:relative;
  list-style: none;
  display: table-cell;
  vertical-align: top;
  height:5px;
  min-width: 30px;
}

.Tree-Trunk-Sub {
  list-style: none;
  display: table-cell;
  vertical-align: top;
  height:10px;
}


.Tree-Branch {
  list-style: none;
  display: table-cell;
}
/*
.Tree-Connector {
position: center;
width: 30px;
height: 30px;
margin-top: 15px;
margin-left: 0px;
border-left: 0px solid #5bc0de;
border-top: 3px solid #5bc0de;
vertical-align: middle;
border-right: 8px solid #5bc0de;
box-sizing: border-box;
}*/