
ul {
  padding-left: 0px;
}

.Tree-Element {
  display: table ;
  list-style: none;
}

.Tree-Trunk {
  list-style: none;
  display: table-cell;
  vertical-align: top;
  height:5px;
}

.Tree-Trunk-Sub {
  list-style: none;
  display: table-cell;
  vertical-align: top;
  height:10px;
}


.Tree-Branch {
  list-style: none;
  display: table-cell;
}
/*
.Tree-Connector {
position: center;
width: 30px;
height: 30px;
margin-top: 15px;
margin-left: 0px;
border-left: 0px solid #5bc0de;
border-top: 3px solid #5bc0de;
vertical-align: middle;
border-right: 8px solid #5bc0de;
box-sizing: border-box;
}*/